/* Color Theme Swatches in Hex */
.EISLAND---Brandenburg-1-hex {
  color: #9fb3bf;
}
.EISLAND---Brandenburg-2-hex {
  color: #bfcfd9;
}
.EISLAND---Brandenburg-3-hex {
  color: #3f6473;
}
.EISLAND---Brandenburg-4-hex {
  color: #263940;
}
.EISLAND---Brandenburg-5-hex {
  color: #7b9aa6;
}

.main {
  background-color: #ebf1f5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  min-height: calc(100% - 72px);
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.primaryButton {
  background-color: #3f6473;
  border-radius: 8px;
  border: 1px solid #3f6473;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: medium;
  padding: 16px;
  margin-right: 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  transition: background-color 0.5s;
}

.secondaryButton {
  width: 200px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #3f6473;
  display: inline-block;
  cursor: pointer;
  color: #3f6473;
  font-size: medium;
  padding: 16px;
  text-decoration: none;
  transition: background-color 0.5s;
  margin: 0 calc(50% - 95px);
}

.secondaryButton:hover {
  color: white;
  background-color: #7b9aa6;
}

.primaryButton:hover {
  background-color: #7b9aa6;
}

.select {
  width: 200px;
  height: 40px;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #3f6473;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

.subnav {
  margin: 15px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.flexrow h2:hover {
  color: #7b9aa6;
  transform: translateY(-4px);
}

.navbar {
  color: #263940;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
}

.navbar a {
  font-size: 1.5em;
  font-family: "VT323", monospace;
  margin: 5%;
  padding: 10px 15px;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 3px;
}

.navbar h2 {
  font-size: 2em;
  margin: 5%;
  padding: 10px 15px;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 3px;
  font-family: "VT323", monospace;
}

.navbar h2:hover {
  transform: translateY(-4px);
}

.navbar a:hover {
  color: #bfcfd9;
  transform: translateY(-4px);
}

.footer {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  border-top: 1px solid #7b9aa6;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 1em;
  line-height: 1.15;
}

.description {
  align-items: center;
  line-height: 1.5;
  font-size: 1.2rem;
  width: 40%;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 550px;
  margin-top: 3rem;
}

.footerText {
  color: #7b9aa6;
}

.card {
  align-items: center;
  background-color: #fafafa;
  margin: 1rem;
  flex-basis: 55%;
  padding: 1.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #bfcfd9;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #263940;
  border-color: #263940;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
